.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.content {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  margin: 8px 0;
  border: 1px solid #aaa;
}

.content > img {
  width: 100%;
  max-height: 300px;
}

.containerIcon{
  display: flex;
  justify-content: end;
}

.closeButton, .sendButton {
  background-color: transparent;
  border: none;
}

.closeButton > svg, .sendButton > svg {
  width: 25px;
  margin: 0 8px 8px 0;
  fill: #ff2934;
}

.sendButton > svg {
  fill: rgb(16, 103, 217);
}

.sendButton:disabled > svg {
  fill: #b5b5b5;
}

.formComment, .comment {
  background-color: #eee;
  border-radius: 10px;
  margin: 10px 0;
}

.input {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  font-size: small;
}

.commentContainer{
  max-height: 300px;
  overflow-y: scroll;
}

.comment {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  max-width: 100%;
}

.comment > p {
  word-wrap: break-word;
}

.noComment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: lighter;
  font-style: italic;
}