.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login_section {
  width: 80%;
  max-width: 450px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px #ced4dd;
  padding: 20px 6px;
  border-radius: 10px;
}

.login_section > h1 {
  margin: 10px 0;
  text-align: center;
}

.login_section > input {
  width: 85%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
}

.login_section > input:focus {
  box-shadow: 0 0 15px #ced4dd;
}

.login_section > button {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 300;
  font-size: 1rem;
}

.login_section > button:hover {
  box-shadow: 0px 0px 15px #ced4dd;
}

.login_section > h3 {
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

.login_section span {
  color: #1e90ff;
  cursor: pointer;
}

.login_section > .error {
  color: red;
  cursor: auto;
  margin-bottom: 15px;
}