.container {
  padding: 4px;
  display: flex;
}

.container > img {
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.card {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: .4rem;
  box-shadow: -4px 4px 0 #777;
  max-width: min-content;
  padding: .4rem;
  position: absolute;
  left: 4rem;
  top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.name {
  font-size: 1.5rem;
  line-height: 1rem;
}

.mail {
  font-size: 1rem;
  font-style: oblique;
}

.logout {
  background-color: #ff2934;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 0;
}

.logout:hover {
  background-color: #f90916;
}