.container {
  border: 1px solid #aaa;
  border-radius: .5rem;
  box-shadow: -4px 4px 0 #777;
  display: flex;
  margin: .5rem;
  max-width: min-content;
  padding: .5rem;
  position: fixed;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
}

.name {
  font-size: 1.5rem;
  line-height: 1rem;
}

.mail {
  font-size: 1rem;
  font-style: oblique;
}

.logout {
  background-color: #ff2934;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 0;
}

.logout:hover {
  background-color: #f90916;
}